<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="reqres_users">
  <description>Coding standards for the Reqres Users module.</description>

  <file>src</file>

  <arg name="extensions" value="php,module,inc,install"/>
  <arg name="colors"/>
  <arg value="s"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
